@charset = "utf-8";
@font-face {
  font-family: Autery;
      src: url(‘autery.tff’) format(‘truetype’); }

html {background: url(sailor_background.jpg) 100% / cover fixed;
      font-family: Autery, cursive;
      font-size: 12px;
      text-align: center;}
